<!-- - Support Section - -->
<section id="support" class="support-container">
  <div class="support-wrapper text-center">
    <h2>Want to support Localtoast?</h2>
    <p>First of all, THANK YOU SO MUCH! <i class="fas fa-grin-alt"></i> There is no way we could do what we do without your support.<br> Until we get our Kickstarter underway... the best way to support us is through our Pateron.</p>
  </div>
  <a href="https://www.patreon.com/localtoastgames" target="_blank" class="support-cta">
    <img src="/assets/images/Patreon_Navy.svg" alt="" height="80px">
    <img src="/assets/images/local-toast-logo.svg" alt="" height="80px">
  </a>
</section>
<!-- - End Support Section - -->

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js" data-cf-nonce="66709df3388e3d3b44294990-" defer=""></script>

<!-- - Footer - -->
<footer>
  <div class="footer-wrapper">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://www.patreon.com/localtoastgames" target="_blank">Patreon</a></li>
      <li><a href="http://www.twitter.com/localtoastgames" target="_blank">Twitter</a></li>
      <li><a href="https://discord.gg/4ZcPxt" target="_blank">Discord</a></li>
    </ul>
    <p>Copyright &copy; 2018 Localtoast Gaming Company</p>
  </div>
  <br class="clear-both">
</footer>
<!-- - End Footer - -->

<!-- - Javascript Files - -->
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/retina.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
<script type="text/javascript" src="/assets/js/validate.js"></script>
<script type="text/javascript" src="/assets/js/validation.js"></script>
<!-- - End Javascript Files - -->

<!-- - Script to close mobile navigation when a link is clicked  - -->
<script type="text/javascript">
  jQuery(document).ready(function($){

  var $menu_toggle = $('.menu-toggle'),
  $menu_item = $('.mobile-navigation li a');

  $menu_item.on('click', function(event){
  event.preventDefault();

  $menu_toggle.toggleClass('clicked');
    $(".secondary-navigation").toggleClass("slide-content-down");
    $(".mobile-navigation").toggleClass("show-secondary-navigation");
  });

  });
</script>
<!-- - End Script - -->
