<head>

  <!-- - Website Title - -->
  <title>{{ site.title }}</title>

  <!-- - Website Meta Information - -->
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="Games, TTRPG, VTT, Dungeons and Dragons">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  {%- feed_meta -%}

  <!-- - Fonts & Icons - -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>

  <!-- - Website Style Sheet - -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <!-- - Website Favicon - -->
  <link rel="icon" type="image/png" href="/assets/images/favicon.png"/>

  <!-- - Google Analytics - -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129083932-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-129083932-1');
  </script>

</head>
