<!--- Navigation --->
<div class="primary-navigation">
  <div class="primary-navigation-wrapper">
    <a class="logo" href="index.html" title="Localtoast Gaming Co.">
      <div></div>
    </a>
    <nav class="desktop-navigation">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <a class="menu-toggle" href="#"><span class="menu-icon"></span></a>
  </div>
</div>
<nav class="secondary-navigation">
  <ul class="mobile-navigation">
    <li><a href="index.html">Home</a></li>
    <li><a href="#projects">projects</a></li>  
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
<!--- End Navigation --->
