<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <!-- - Hero Section - -->
    <section class="hero-container main-background-colour">
      <div class="hero-wrapper">
        <p class="hero-message">Hello there! We're Localtoast, an independant game development company. We build quality software. It's way more fun than it sounds.</p>
        <a href="https://www.patreon.com/localtoastgames" target="_blank" class="button patreon-button"><i class="fab fa-patreon"></i> Patreon</a>
        <a href="http://www.twitter.com/localtoastgames" target="_blank" class="button twitter-button"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://discord.gg/4ZcPxt" target="_blank" class="button discord-button"><i class="fab fa-discord"></i> Discord</a>
      </div>
    </section>
    <!-- - End Hero Section - -->

    {{ content }}

    {%- include footer.html -%}

  </body>

</html>
