---
layout: default
---

<!--- Hero Section --->
<section class="hero-container main-background-colour">
  <div class="hero-wrapper">
    <p class="hero-message">Hello there, we're Localtoast. We're an independant game development company. This is not a picture of our office, but isn't it the coolest?</p>
    <a href="#projects" class="button outline-button main-text-colour"><i class="fas fa-desktop"></i> Current Projects</a>
    <a href="#contact" class="button outline-button main-text-colour"><i class="fab fa-twitter"></i> Follow us on Twitter</a>
  </div>
</section>
<!--- End Hero Section --->

<!--- About Section --->
<section id="about" class="about-container">
  <div class="about-wrapper">
    <h2>Learn More About Me</h2>
    <p>Welcome to my design portfolio. I'm a passionate web and graphic designer, but I also specialize in web development and branding. I spend most of my day making beautiful interfaces, but I also play pixel basketball over on the courts at Dribbble. I've always been passionate about design so that's why at the early age of fifteen I started to teach myself design. At first I wanted to teach myself graphic design, but a couple of years later I started to get a strong passion for web design. I created my first website in high school, it wasn't very good, but I was excited and it wasn't very long until I wanted to make another one and since then I've never wanted to stop. If you like what you see on my website, then feel free to contact me, I would love to hear from you.</p>
  </div>
  <div class="about-images-wrapper">
    <img src="/assets/images/angular.svg" alt="Angular" />
    <img src="/assets/images/1024px-HTML5_logo_and_wordmark.svg.png" alt="HTML5" />
    <img src="/assets/images/CSS3_logo_and_wordmark.svg.png" alt="CSS3" />
    <i class="fas fa-server fa-7x"></i>
    <br class="clear-both">
  </div>
</section>
<!--- End About Section --->

<!--- Portfolio  Section --->
<section id="projects" class="project-thumbnail-container">
  <div class="about-wrapper">
    <h2>Featured Design Projects</h2>
    <p>Great design is at the core of everything that I create. Whether its brand development or web design, watch me develop your ideas into something that will communicate your message and capture your imagination. I have very high quality standards for my designs so that you will get the best design possible with pixel perfect details. Below are some of my latest projects that I've done from web design to brand development.</p>
  </div>
  <div class="project-thumbnail-wrapper">
    <!--- Thumbnail Item --->
    <div class="thumbnail">
      <a href="projects/project-lich.html">
        <div class="thumbnail-image">
          <!--- Thumbnail Image --->
          <img src="images/thumbnails/thumbnail-image-01.jpg"
          data-at2x="images/thumbnails/thumbnail-image-01@2x.jpg" alt="Project LICH" />
          <div class="thumbnail-overlay">
            <!--- Thumbnail Hover Text --->
            <span class="thumbnail-title">Project LICH</span>
            <span class="thumbnail-category">Digital Tabletop</span>
          </div>
        </div>
      </a>
    </div>
    <!--- Thumbnail Item --->
    <div class="thumbnail">
      <a href="projects/aeons-of-ascension.html">
        <div class="thumbnail-image">
          <!--- Thumbnail Image --->
          <img src="/assets/images/aoa-thumb.jpg" alt="Aeons of Ascension" />
          <div class="thumbnail-overlay">
            <!--- Thumbnail Hover Text --->
            <span class="thumbnail-title">Aeons of Ascension</span>
            <span class="thumbnail-category">Multiplayer Turn-Based RPG</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <br class="clear-both">
</section>
<!--- End Portfolio Section --->

<!--- Contact Section --->
<section id="contact" class="contact-container">
  <div class="contact-wrapper">
    <h2>Have A Question? Let's Talk</h2>
    <p>Whether you have a question, work inquiry, or simply want to connect then don't hesitate to message me using the contact form located below or sending me a message on Twitter for a faster response. I'm looking forward to hearing from you, but please allow several days for a response.</p>
    <form class="contact-form" action="php/mail.php" method="POST" autocomplete="off">
      <div class="form-field-left">
        <input id="fullName" name="fullName" type="text" value="" placeholder="Full Name"/><br>
        <span id="fullName-validation" class="error-message"></span>
      </div>
      <div class="form-field-right">
        <input id="email" name="email" type="text" value="" placeholder="Email Address"/><br>
        <span id="email-validation" class="error-message"></span>
      </div>
      <textarea id="message" name="message" placeholder="How can I help you?"></textarea><br>
      <span id="message-validation" class="error-message"></span>
      <input class="button solid-button" id="send" type="submit" value="Send Message"/>
    </form>
    <br class="clear-both">
  </div>
</section>
<!--- End Contact Section --->



<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js" data-cf-nonce="66709df3388e3d3b44294990-" defer=""></script>
</div>
